.home-page {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}
.home-header {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1.2rem;

    span {
        margin-left: 20px;
    }
    :last-child {
        color: blue;
        cursor: pointer;
    }
}
.home-container {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 30px;

    div {
        background-color: white;
        width: 200px;
        height: 200px;
        text-align: center;
        line-height: 200px;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    }
}
