.map-page {
	width: 100vw;
	height: 100vh;
}
.map-container {
	width: 100%;
	height: 100%;
}

.map-search-bar {
	position: fixed;
	margin-top: 10px;
	margin-left: 10px;
	max-width: 200px;
	width: 70%;
	height: max-content;
	background: white;
	border-radius: 3px;
}
.map-search-option {
	box-sizing: border-box;
	cursor: pointer;
	background-color: whitesmoke;
	color: gray;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.map-search-option div {
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.map-search-option div.active {
	background-color: white;
	color: black;
}

#map-search-name {
	width: 100%;
	box-sizing: border-box;
}

#map-popup {
	width: max-content;
	height: max-content;
}
#map-popup span {
	text-align: center;
	display: block;
}
#map-popup-edit {
	margin-top: 5px;
	color: blue;
	cursor: pointer;
}

#map-form {
	display: grid;
	grid-template-columns: 1fr;
}
#map-form label {
	display: block;
	margin: 5px;
}
#map-form button {
	margin-top: 15px;
}

.map-input-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.map-input-bg.show {
	width: 100%;
	height: 100%;
}
.map-find-me {
	position: fixed;
	background-color: white;
	margin-right: 12px;
}
.map-radius-slider {
	background-color: white;
	position: fixed;
	margin-top: 10px;
	margin-left: 10px;
}
#map-input-form {
	position: fixed;
	display: none;
	grid-template-columns: 1fr;
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: 0.3s;
}
#map-input-form.show {
	top: 50%;
	opacity: 1;
}
#map-input-form input {
	text-transform: uppercase;
}
#map-input-form label {
	display: block;
	margin: 7px;
}
#map-input-form button {
	margin-top: 15px;
}

/* Force popup window position on above the marker */
/* div.gm-style-iw-t {
	transform: translateY(-47px);
} */
