.map-page {
    width: 100vw;
    height: 100vh;
}
.map-container {
    width: 100%;
    height: 100%;
}

.map-menu {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 300px;
    background: white;
    border-radius: 3px;
    padding: 10px;
}
.map-search-bar {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.map-radius-slider {
    display: inline;
}
.map-radius-slider span {
    margin-right: 10px;
}
.map-find-me {
    position: fixed;
    background-color: white;
    margin-right: 12px;
}
